@page "/armadura/{slug}/{id:int:min(1)}"
@model ReinosAcoWebApp.Pages.DetailsModel

<h2 class="my-3">@Model.Armadura.Nome</h2>

<div class="row">

    <div class="col-4">
        <img class="img-fluid rounded" src="@Model.Armadura.ImgUri"/>
    </div>

    <div class="col-6">
        <h4 class="my-3">Sobre:</h4>
        <p>@Model.Armadura.Descricao</p>
        <h4 class="my-3">Mais info:</h4>
        <ul>
            <li>
                <label asp-for="Armadura.Preco"></label>: 
                @Html.DisplayFor(model => model.Armadura.Preco)
            </li>
            <li>
                <label asp-for="Armadura.EntregaExpressa"></label>:
                @Html.DisplayFor(model => model.Armadura.EntregaExpressaFormatada)
            </li>
            <li>
                <label asp-for="Armadura.DataCadastro"></label>:
                @Html.DisplayFor(model => model.Armadura.DataCadastro)
            </li>
            
            <li>
                <label asp-for="Armadura.AutenticidadeId"></label>:
                @Html.DisplayFor(model => model.DescricaoAutenticidade)
            </li>

            @if(Model.Armadura.Materiais.Count > 0)
            {
                <li>
                    <label asp-for="Armadura.Materiais"></label>:
                    @string.Join(", ", Model.Armadura.Materiais.Select(item => item.Descricao))
                </li>
            }
            else
            {
                <li>
                    <label asp-for="Armadura.Materiais"></label>: Em análise
                </li>
            }

        </ul>
        <a class="btn my-3 btn-primary"
        asp-page="/Edit"
        asp-route-id="@Model.Armadura.ArmaduraId">Editar</a>
    </div>

</div>